<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro de Learn it</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <h1>Foro de Discusión</h1>
    </header>

    <main>
        <section class="create-section">
            <h2>Crear Nuevo Tema</h2>
            <form id="form-tema">
                <input type="text" id="titulo-input" placeholder="Escribe un título..." required autocomplete="off">
                <button type="submit">Publicar Tema</button>
            </form>
        </section>

        <hr>

        <section id="topics-container" class="topics-grid">
            <%- include('partials/topic-list') %>
        </section>
    </main>

    <script src="/js/client.js"></script>
</body>

</html>